.newsletter .link-header {font-size:12px;
                        font-weight:400;
                        margin-bottom:5px;
}
.newsletter .link-subheader {
    font: italic;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.newsletter input{border:1px solid #364147;
                  width:200px;
                  margin-bottom:10px;
}
.newsletter button{width:150px;
                  min-width: auto;
                  text-transform:uppercase;
                  letter-spacing:1px;
}
